body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background: url('img/háttér.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    text-align: center;
    background-attachment: scroll;
}

.justify-text {
    text-align: justify;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 90%;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-image {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.welcome {
    margin: 20px 0;
}

.welcome h1 {
    font-size: 3rem;
    margin: 10px 0;
    font-family: 'Satisfy', serif;
    letter-spacing: 0.05em;
    font-weight: normal;
}

.welcome p {
    font-size: 1.2rem;
    margin: 10px 0;
    font-family: 'Merriweather', serif;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.icons a {
    text-align: center;
    margin: 20px;
    text-decoration: none;
    color: black;
}

.icons a img {
    width: 226px;
    height: 226px;
    transition: transform 0.2s;
    border-radius: 15px;
    animation: zoomIn 1s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.icons a img:hover {
    transform: scale(1.1);
}

.icons a span {
    display: block;
    margin-top: 5px;
    font-family: 'Caveat', serif;
    font-size: 2.3rem;
    font-weight: bold;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px 20px;
    z-index: 1000;
}

.cookie-banner button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
}

.cookie-banner button:hover {
    background: #45a049;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
}

.footer a {
    color: #555555;
    text-decoration: none;
}

.footer a:hover {
    color: #000000;
}


.about-page {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.about-intro {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 50px;
}

.about-image {
    max-width: 250px;
    border-radius: 50%;
    margin: 20px 0;
    box-shadow: 0 10px 10px rgba(1, 1, 1, 1);
}

.about h1 {
    color: #444;
    margin-bottom: 15px;
    text-align: center;
    font-size: 3rem;
    margin: 10px 0;
    font-family: 'Satisfy', serif;
    letter-spacing: 0.05em;
    font-weight: normal;
}

.about-text h2 {
    color: #444;
    margin-bottom: 15px;
    text-align: center;
    font-size: 3rem;
    margin: 10px 0;
    font-family: 'Satisfy', serif;
    letter-spacing: 0.05em;
    font-weight: normal;
}

.about-text h3 {
    font-size: 3rem;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
    margin: 10px 0;
    font-family: 'Caveat', serif;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.about-text p {
    margin-bottom: 15px;
    line-height: 1.6;
    text-align: justify;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

.about-text ul {
    margin: 15px 0;
    padding-left: 20px;
    list-style-type: disc;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

.about-text ul li {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: 30px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #f0a500;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    font-family: 'Merriweather', serif;
    text-align: left;
    border-top: 2px solid #007BFF;
    gap: 20px;
	flex-wrap: wrap; /* Lehetővé teszi, hogy a tartalom új sorba kerüljön */
    justify-content: space-between;
}

.footer-contacts .left-side, .footer-contacts .right-side {
    flex: 1;
    max-width: 100%; /* Alkalmazkodás a szűkebb képernyőkhöz */
}


.footer-contacts .right-side {
    flex: 1; /* Mindkét oldal azonos helyet foglaljon el */
    min-width: 250px; /* Minimális szélesség a jobb oldalon */
    text-align: center; /* Jobb megjelenéshez igazítás mobilon */
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.4rem;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 15px;
}

.contact-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.contact-item img {
    width: 70px;
    height: 70px;
}


.contact-item span, .contact-item a {
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffffff;
}

.google-map iframe {
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.google-map, .zold {
    width: 96%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.google-map:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

img {
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

@media (max-width: 768px) {
    .content {
        width: 95%;
        padding: 15px;
    }

    .header-image {
        max-width: 600px;
    }

    .icons {
        flex-direction: column;
        align-items: center;
    }

    .icons a {
        margin: 15px 0;
    }

    .icons a img {
        width: 226px;
        height: 226px;
    }

    .icons a span {
        font-size: 2.3rem;
    }

}

@media (max-width: 768px) {
    .footer-contacts {
        flex-direction: column;
        align-items: center;
        padding: 10px; /* Csökkentett padding mobilnézethez */
        gap: 15px; /* Kevesebb távolság az elemek között */
    }

    .footer-contacts .left-side, .footer-contacts .right-side {
        width: 100%; /* Vegyék fel a teljes szélességet */
        flex: none; /* Ne osztódjanak a rendelkezésre álló hely szerint */
    }

    .contact-item {
        font-size: 1.2rem; /* Kisebb betűméret mobilon */
        padding: 10px; /* Kisebb padding a kontakt elemek körül */
    }

    .google-map iframe {
        width: 100%; /* Alkalmazkodjon a képernyő szélességéhez */
        height: 250px; /* Csökkentett magasság mobilon */
		
    }
	
	.google-map {
	    width: 96%; /* Alkalmazkodjon a képernyő szélességéhez */
        height: 250px; /* Csökkentett magasság mobilon */
		padding: 10px;
    }
	
	.contact-item span, .contact-item a {
    font-size: 1rem;
}

#scrollToTop {
 transform: translateX(-30px);
    }

}

	

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none; /* Alapértelmezés szerint rejtve van */
    z-index: 1000;
}

#scrollToTop img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#scrollToTop:hover img {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}


.workshop-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Merriweather', serif;
}

.workshop-section h3, .hirek-section h3 {
    font-size: 2.5rem;
    color: #555;
    margin-top: 20px;
    text-align: center;
	font-family: 'Caveat', serif;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.workshop-section h2, .hirek-section h2 {
    color: #444;
    margin-bottom: 15px;
    text-align: center;
    font-size: 3rem;
    margin: 10px 0;
    font-family: 'Satisfy', serif;
    letter-spacing: 0.05em;
    font-weight: normal;
}

.workshop-section p, .hirek-section p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}

.workshop-section ul, .hirek-section ul {
    margin: 15px 0;
    padding-left: 20px;
    list-style-type: disc;
    text-align: justify;
    font-size: 18px;
}

.workshop-section ul li, .hirek-section ul li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.slider-container {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.slider {
    display: flex;
    width: 45%;
    height: 300px;
    animation: slide 24s infinite;
}

.slider img {
    width: 100%;
    transition: transform 1s ease-in-out;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }
}

.termekek-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Merriweather', serif;
}

.termekek-section h3 {
    font-size: 2.5rem;
    color: #555;
    margin-top: 20px;
    text-align: center;
	font-family: 'Caveat', serif;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.termekek-section h2 {
    color: #444;
    margin-bottom: 15px;
    text-align: center;
    font-size: 3rem;
    margin: 10px 0;
    font-family: 'Satisfy', serif;
    letter-spacing: 0.05em;
    font-weight: normal;
}

.termekek-section p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}

.termekek-section ul {
    margin: 15px 0;
    padding-left: 20px;
    list-style-type: disc;
    text-align: justify;
    font-size: 18px;
}

.termekek-section ul li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.arcfestes-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Merriweather', serif;
}
.arcfestes-section h3 {
    font-size: 2.5rem;
    color: #555;
    margin-top: 20px;
    text-align: center;
	font-family: 'Caveat', serif;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.arcfestes-section h2 {
    color: #444;
    margin-bottom: 15px;
    text-align: center;
    font-size: 3rem;
    margin: 10px 0;
    font-family: 'Satisfy', serif;
    letter-spacing: 0.05em;
    font-weight: normal;
}

.arcfestes-section p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}

.arcfestes-section ul {
    margin: 15px 0;
    padding-left: 20px;
    list-style-type: disc;
    text-align: justify;
    font-size: 18px;
}

.arcfestes-section ul li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.nyomtatas-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Merriweather', serif;
}

.nyomtatas-section h3 {
    font-size: 2.5rem;
    color: #555;
    margin-top: 20px;
    text-align: center;
	font-family: 'Caveat', serif;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.nyomtatas-section h2 {
    color: #444;
    margin-bottom: 15px;
    text-align: center;
    font-size: 3rem;
    margin: 10px 0;
    font-family: 'Satisfy', serif;
    letter-spacing: 0.05em;
    font-weight: normal;
}

.nyomtatas-section p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}

.nyomtatas-section ul {
    margin: 15px 0;
    padding-left: 20px;
    list-style-type: disc;
    text-align: justify;
    font-size: 18px;
}

.nyomtatas-section ul li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.kitelepulesek-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Merriweather', serif;
}

.kitelepulesek-section h3 {
    font-size: 2.5rem;
    color: #555;
    margin-top: 20px;
    text-align: center;
	font-family: 'Caveat', serif;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.kitelepulesek-section h2 {
    color: #444;
    margin-bottom: 15px;
    text-align: center;
    font-size: 3rem;
    margin: 10px 0;
    font-family: 'Satisfy', serif;
    letter-spacing: 0.05em;
    font-weight: normal;
}

.kitelepulesek-section p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}

.kitelepulesek-section ul {
    margin: 15px 0;
    padding-left: 20px;
    list-style-type: disc;
    text-align: justify;
    font-size: 18px;
}

.kitelepulesek-section ul li {
    margin-bottom: 10px;
    line-height: 1.5;
}
/* ======================== */
/* NAVBAR és MENÜ BEÁLLÍTÁSOK */
/* ======================== */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    z-index: 1000;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    width: 100%;
}

.nav-menu li {
    text-align: center;
    margin: 10px;
    position: relative;
}

.nav-menu a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease;
    color: black;
    font-family: 'Caveat', serif;
    font-size: 2.5rem;
    padding: 5px 10px;
}

.nav-menu a:hover {
    transform: scale(1.1);
    color: #007BFF;
}

.nav-menu a.active, 
.nav-menu .dropdown .nav-link.active {
    background-color: rgba(85, 85, 85, 0.7) !important;
    color: white !important;
    border-radius: 5px;
    padding: 5px 10px;
}

.nav-menu img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(1, 1, 1, 1);
}

/* ======================== */
/* LENYÍLÓ MENÜ BEÁLLÍTÁSOK */
/* ======================== */

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #444;
    list-style: none;
    padding: 10px;
    margin: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    border-radius: 10px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu li {
    border-bottom: 1px solid #555;
    padding: 5px;
    text-align: center;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
	font-family: Merriweather;
	font-size: 1rem;
}

.dropdown-menu li a:hover {
    background-color: #666;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* ======================== */
/* HAMBURGER MENÜ BEÁLLÍTÁSOK */
/* ======================== */

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1001;
}

.hamburger .bar {
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex !important;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: transparent;
        padding: 20px;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .nav-menu.active {
        display: flex;
        position: relative;
    }
	
.nav-menu a {
    font-size: 1.5rem;

}	

.nav-menu img {
    width: 70px;
    height: 70px;

}


    .content {
        transition: margin-top 0.3s ease-in-out;
    }

    .menu-open .content {
        margin-top: 200px;
    }
	
	.dropdown-menu {
 
	z-index: 1000;
}

.slider-container {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.slider {
    display: flex;
    width: 45%;
    height: 200px;
    animation: slide 24s infinite;
}


.image-container img {
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

}

.language-switcher a img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
}


.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1100;
}

.language-switcher a {
    display: inline-block;
    margin: 0 5px;
}

.language-switcher img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.image-container img {
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    justify-content: center;
}

.image-grid img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}